<div class="container register">
    <ul class="panel inputGroup">
        <li><span class="icon-phone icon"></span> <input type="text" placeholder="请输入手机号"></li>
        <li><span class="icon-ma icon"></span> <input type="text" placeholder="图形验证码"> <span
                class="get_pwd">2y25ag</span></li>
        <li><span class="icon-ma icon"></span> <input type="text" placeholder="请输入验证码"> <span
                class="get_pwd">发送验证码</span></li>
        <li><span class="icon-pwd icon"></span> <input type="text" placeholder="请输入密码"></li>
        <li><span class="icon-pwd icon"></span> <input type="text" placeholder="请再次输入密码"></li>
    </ul>
    <div class="btn_group"><button class="mint-button btn-orange mint-button--default mint-button--large">
            <!----> <label class="mint-button-text">提交</label></button></div>
    <div class="fixed-foot">
        <p> 如有疑问，请拨打</p> <a href="tel:+400-019-2209" class="text-orange">400-019-2209</a>
    </div>
    <div data-v-7e4db7c7="" class="tip">
        <div data-v-7e4db7c7="" class="content">
            <div data-v-7e4db7c7="" class="tip_body">
                <p data-v-7e4db7c7="">用户名密码不正确</p>
            </div>
            <div data-v-7e4db7c7="" class="tip_foot"><span data-v-7e4db7c7="">忘记密码</span> <span
                    data-v-7e4db7c7="">确定</span></div>
        </div>
    </div>
</div>